@import '../../scss/colors.scss';

.constructor-item {
  width: 100%;
  padding: 4px;
  margin: 0 0 12px 0;
  border-radius: 4px;
  background-color: $whiteColor;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  cursor: move;

}

.display {
  width: 100%;
  height: 52px;
  border-radius: 6px;
  background-color: $bgLightColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px 0 0;

  &__value {
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    color: $displayTextColor;
  }
}
