@import '../../scss/colors.scss';

.canvas {
  width: 243px;
  height: 448px;
  position: relative;

  &__invite {
    width: 100%;
    height: 100%;
    border: 2px dashed $borderDropZone;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease 0s;

    &--isOver {
      background-color: $bgDropZone;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: $lightColor;
    margin: 4px 0 0 0;
    white-space: pre-line;

    &--accent {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $accentColor;
      margin: 12px 0 0 0;
    }
  }
  
}
.canvas-item {
  position: relative;

  &__dnd-zone {
    width: 244px;
    height: 2px;
    position: absolute;
    cursor: move;
    background-color: $accentColor;

    &::after,
    &::before {
      content: '';
      width: 5px;
      height: 5px;
      position: absolute;
      top: -1.5px;
      transform: rotate(45deg);
      background-color: inherit;
    }
    &::after {
      left: 0;
    }
    &::before {
      right: 0;
    }
  }
}