// Основные цвета
$mainColor: #000;
$displayTextColor: #111827;
$secondColor: #4D5562;
$lightColor: #6B7280;
$whiteColor: #FFF;
$borderButtonColor: #E2E3E5;
$bgLightColor: #F3F4F6;
$dropShadowColor: #00000025;
$accentColor: #5D5FEF;
$borderDropZone: #C4C4C4;
$bgDropZone: #F0F9FF;
